<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
	<import resource="classpath:mvc-context.xml"/>

	<context:annotation-config/>
	<context:component-scan base-package="com.test.mvc"/>
	<!--配置dataSource-->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${db.driver}"/>
		<property name="url" value="${db.url}"/>
		<property name="username" value="${db.username}"/>
		<property name="password" value="${db.password}"/>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
		<property name="typeAliasesPackage" value="com.test.mvc.domain"/>
		<property name="mapperLocations" value="classpath:com/test/mvc/mapper/*Mapper.xml"/>
	</bean>
	<!--配置Mapper  -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.test.mvc.mapper"/>
	</bean>
	<!--事务配置  -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<aop:config>
		<aop:pointcut expression="execution(* com.test.mvc.service..*(..))" id="pc"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pc"/>
	</aop:config>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="list*" read-only="true"/>
			<tx:method name="query*" read-only="true"/>
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	<!--AOP注解方式开启-->
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<!--<aop:config>
		<aop:aspect id="sysLog" ref="systemLogService">
		<aop:pointcut expression="execution(* com.test.mvc.controller..*(..))" id="pcut" />
			&lt;!&ndash;<aop:before method="log" pointcut-ref="pcut" />&ndash;&gt;
			<aop:before method="before"  pointcut-ref="pcut" />
		</aop:aspect>
	</aop:config>-->


	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:druid.properties</value>
			</list>
		</property>
	</bean>
	<bean id="monitor" class="com.test.mvc.domain.Monitor"></bean>

</beans>
